[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
flake8 = "*"
requests = "*"
httpx = "*"
gunicorn = "*"
emails = "*"
uvicorn = "*"
python-jose = "*"
fastapi-cache2 = {extras = ["redis"], version = "*"}
aioredis = "*"
aiofile = "*"
pytest = "*"
pytest-dotenv = "*"
"stomp.py" = "*"
irc = "*"
werkzeug = "*"
fastapi = {version = "==0.73.0", extras = ["all"]}

[dev-packages]

[requires]
python_version = "3.9"
