[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
pydantic = "*"
flake8 = "*"
requests = "*"
httpx = "*"
gunicorn = "*"
emails = "*"
uvicorn = "*"
python-jose = "*"

[dev-packages]

[requires]
python_version = "3.8"
