[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
flake8 = "*"
requests = "*"
httpx = "*"
gunicorn = "*"
emails = "*"
uvicorn = "*"
python-jose = "*"
fastapi-cache2 = {extras = ["redis"], version = "*"}
aioredis = "*"
aiofile = "*"
pytest = "*"
pytest-dotenv = "*"
"stomp.py" = "==7.0.0"
irc = "*"
werkzeug = "*"
fastapi = ">=0.109.1"
email-validator = "*"
jinja2 = "*"
python-multipart = "*"
pyyaml = "*"
orjson = "*"
jira = "==3.2.0"
python-bugzilla = "*"

[dev-packages]

[requires]
python_version = "3.11"
